# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.vsidx
*.suo
*.db
*.json
*.ipch
*.pdb
*.sln
*.vcxproj
*.filters
*.user
*.idb
*.pdb*.recipe
*.ilk
*.log
*.tlog
*.lastbuildstate
.vs/
x64/
Release/
Debug/
*.ipdb
*.recipe
*.vcxproj.FileListAbsolute.txt
*.dll
*.pdb
obj/
bin/

StuMan/log/log
StuMan/store/userdata.dat
